h6{float: right;
    margin-right: 20px;}
  h3 {text-align: center;}
  h4{font-family: 'Space Mono', monospace;;
  color: rgba(55, 89, 134, 0.986);
}

  h2 {text-align: center; color: red;}
  h1 {color: orange; font-size: 20px;}
  #infobox {
    background-color: rgba(55, 89, 134, 0.986);
      background-repeat: no-repeat;
      margin: 10px;
      padding: 15px;
      border: 1px solid #777;
      color: black;
      text-align: center;
      padding-bottom: 25px;
      padding-top: 25px;
      padding-left: 50px;}
.bilderabrunden{
  border-radius: 10px;
}
#Sup-Polo{background-color: rgba(213, 241, 241, 0.918);}
#Tabelle{background-color: rgba(213, 241, 241, 0.918);}
#Button{background-color: rgba(213, 241, 241, 0.918);}
#blau{color: rgba(55, 89, 134, 0.986);}
#grau{background-color: rgba(243, 233, 233, 0.856)
;}